.card-panda-350{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}
.catagories img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: #FEEAE9;
    border-radius: 2em;
}